@use "./variables" as *;
@use "./mixin" as *;

.about-me {
    width: $phone-width;
    margin-bottom: 50px;

    &__img {
        margin-top: 20px;
        border: 1px solid black;
    }

    &__desc {
        font-family: $secondary-font;
        margin-top: 15px;
    }
}

@media only screen and (max-width:767px) {
    .about-me {
        &__img {
            width: $phone-width;
            height: 350px;
        }
    }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    /*tablet*/
    .about-me {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        width: $tablet-width;

        &__desc {
            width: 0.45 * $tablet-width;
        }
        &__img {
            width: 0.45 * $tablet-width;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .about-me {
        /*desktop*/
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        width: $desktop-width;

        &__desc {
            width: 0.45 * $desktop-width;
        }

        &__img {
            width: 400px;
            height: 400px;
        }

        &__heading {
            margin: 0;
            margin-bottom: 20px;
        }
    }

    .about-me-container {
        background-color: $grey;
        width: 100vw;
        @include flexCenter;
        margin-bottom: 0px;

        * {
            background-color: $grey;
        }
    }
}
   