@use "./variables" as *;
@use "./mixin" as *;

.about-me {
    width: $phone-width;
    margin-bottom: 50px;

    &__img {
        width: $phone-width;
        margin-top: 20px;
        border: 1px solid black;
        height: 300px;

    }

    &__desc {
        font-family: $secondary-font;
        margin-top: 15px;
    }
}

@media only screen and (min-width: 768px) {
    /*tablet*/
    .about-me {
        display: flex;
    }

}