@use "./variables" as *;
@use "./mixins" as *;

* {
    margin: 0px;
    padding: 0px;
    background-color: $white;
}


@media only screen and (max-width:767px){
    .hide-on-phone {
        display: none!important;
    }
}

@media only screen and (min-width:768px) and (max-width:1023px){
    .hide-on-tablet {
        display: none!important;
    }
}

@media only screen and (min-width:1024px){
    .hide-on-desktop {
        display: none!important;
    }
}