@use "./variables" as *;
@use "./mixins" as *;

.button { 
    background-color: $secondary-color;
    color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 5px;
    box-shadow: 1px 1px $primary-color;
    font-family: $primary-font;
    font-size: 18px;
    @include flexCenter();
    text-decoration: none;
    font-weight: light;
    width: 0.9*$phone-width;
    height: 50px;

    i {
        background-color: $secondary-color;
    }

    &:hover {
        font-weight: bold;
        color: $primary-color;
        border: 1.5px solid $primary-color;
    }
}
