@use "./variables" as *;
@use "./mixins" as *;

.footer {
    background-color: $primary-color;
    display: flex;

    color: $secondary-color;
    height: 150px;

    * {
        background-color: $primary-color;
        padding: 5px;
        
    }
    
    &__contact-info {
        @include flexCenter();
        font-size: 40px;
        font-family: $primary-font;
        width: 250px;
        * {
            &:hover {
                color: $white;
            }
        }
    }

    &__email {
        font-family: $primary-font;
        font-size: 16px;
        width: 250px;
        &:hover {
            color: $white;
        }
    }

    &__rights{
        width: 250px;
        text-align: center;
    }

}

@media only screen and (max-width: 767px) {
    /*phone*/
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media only screen and (min-width:768px) and (max-width:1023px) {
    /*tablet*/
    .footer {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        &__email {
            margin-left: 20px;
        }

        &__contact-info {
            margin-right: 20px;
        }
    }

}

@media only screen and (min-width:1024px) {
    /*desktop*/
    .footer {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-top: 0;

        &__email {
            margin-left: 20px;
            font-size: 15px;
            text-align: center;
        }

        &__contact-info {
            margin-right: 20px;
            font-size: 30px;
        }

        &__rights {
            font-size: 10px;
            font-family: $primary-font;
            opacity: 60%;
        }
    }

}