@use "./variables" as *;
@use "./mixin" as *;

.footer {
    background-color: $primary-color;
    display: flex;

    color: $secondary-color;
    height: 150px;

    * {
        background-color: $primary-color;
        padding: 5px;
    }
    
    &__contact-info {
        @include flexCenter();
        font-size: 40px;
        font-family: $primary-font;
        * {
            &:hover {
                color: $white;
            }

        }

        
    }

    &__email {
        font-family: $primary-font;
        font-size: 18px;
        
        &:hover {
            color: $white;
        }
    }

}

@media only screen and (max-width: 767px) {
    /*phone*/
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media only screen and (min-width:768px) and (max-width:1023px) {
    /*tablet*/
    .footer {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        &__email {
            margin-left: 20px;
        }

        &__contact-info {
            margin-right: 20px;
        }
    }

}