@use "./variables" as *;
@use "./mixin" as *;

.header {
    display: grid;
    height: 50px;
    background-color: $white;
    color: $primary-color;
    margin: 0px;
    padding: 0px;
    font-family: $secondary-font;

    * {
        @include flexCenter;
    }
    
    &__name {
        font-weight: bold;
        font-family: $secondary-font;
        font-size: 25px;
    }

    &__logo {
        font-size: 30px;
        
        p {
            border-bottom: 17px solid $secondary-color;
            display: inline-block;
            line-height: 0.2;
            font-family: $tertiary-font;

        }
    }

    &__menu {
        font-size: 25px;

    }

    &__get-in-touch {
        a {
            font-size: 15px;
            height: 30px;
            width: 80%
        }
    }

    &__home, &__about, &__projects {
        &:hover {
            font-weight: bold;
        }
    }
}

@media only screen and (max-width: 768px) {
    /*phone*/
    .header {
        grid-template-columns: 50px 180px 1fr 50px;
        grid-template-areas: "logo name gap menu";
        &__projects, &__get-in-touch, &__about, &__home {
            display: none;
        }

    }
}

@media only screen and (min-width: 768px) {
    /*tablet*/
    .header {
        grid-template-columns: 50px 180px 1fr 110px 110px 110px 125px;
        grid-template-areas: "logo name gap home about projects get-in-touch";
        &__menu {
            display: none;
        }
    }
}

.header {
    &__logo {
        grid-area: logo;
    }
    &__name {
        grid-area: name;
    }
    &__menu {
        grid-area: menu;
    }
    &__home {
        grid-area: home;
    }
    &__about {
        grid-area: about;
    }
    &__get-in-touch {
        grid-area: get-in-touch;
    }
    &__gap {
        grid-area: gap;
    }
    &__project {
        grid-area: project;
    }
}