@use "./variables" as *;
@use "./mixin" as *;

.headings {
    margin-top: 100px;
    font-family: $primary-font;
    font-weight: bold;

    color: $primary-color;
    font-size: 30px;

    border-bottom: 11px solid $secondary-color;
    display: inline-block;
    line-height: 0.4;
}

.underline {
    border-bottom: 27px solid $secondary-color;
    display: inline-block;
    line-height: 0.4;
}


