@use "./variables" as *;
@use "./mixin" as *;

.headings {
    margin-top: 60px;
    font-family: $primary-font;
    font-weight: bold;

    color: $primary-color;
    font-size: 25px;
}

.underline {
    border-bottom: 27px solid $secondary-color;
    display: inline-block;
    line-height: 0.4;
}