@use "./variables" as *;
@use "./mixin" as *;

.intro {
    margin: 30px;
    
    
    font-family: $primary-font;

    &__hi {
        font-size: 20px;
        opacity: 60%;
        color:$primary-color;
    }

    &__desc {
        margin-top: 10px;
        color:$primary-color;
    }
}

@media only screen and (max-width:768px) {
    /*phone*/
    .intro {
        width: $phone-width;
        margin-top: 30px;

        &__desc {
            font-size: 60px;
        }
    }
}

@media only screen and (min-width:768px) {
    /*tablet*/
    .intro {
        width: $tablet-width;
        margin-top: 100px;
        margin-bottom: 60px;


        &__desc {
            font-size: 52px;
        }
    }
}