@use "./variables" as *;
@use "./mixin" as *;

.intro {
    margin: 30px;
    margin-top: 50px;
    width: 400px;
    font-family: $primary-font;

    &__hi {
        font-size: 20px;
        opacity: 60%;
    }

    &__desc {
        margin-top: 10px;
        font-size: 80px;
    }
}