@use "./variables" as *;
@use "./mixin" as *;

main {
    margin: 10px;
    font-family: $secondary-font;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills {
    margin-top: 60px;
    font-family: $secondary-font;

    color: $primary-color;
    font-size: 35px;
}