@use "./variables" as *;
@use "./mixin" as *;

.project-container {
    
    display: grid;

    &__project {
        
        margin-top: 15px;

        * {
            margin-top: 15px;
        }
        
        &__image {
            width: $phone-width;
            align-content: center;
        }

        &__lang {
            color: $secondary-color;
            font-size: 15px;
            text-transform: uppercase;
            
        }

        &__heading {
            font-size: 38px;
            font-family: $primary-font;
            color: $primary-color;
            font-weight: bold;
            margin-top: 0px;
        }

        &__description {
            width: $phone-width;
        }

        &__buttons {
            display: flex;
            
            justify-content: flex-start;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 30px;

            &__button{
                margin-right: 15px;
                margin-top: 15px;
                display:flex;
                justify-content: center;
                align-items: flex-end;
                i {
                    margin-bottom: 3px;
                }
            

                

                &:hover {
                    opacity: 50%;
                }
            }
        }
    }
}