@use "./variables" as *;
@use "./mixin" as *;

.project-container {

    &__project {
        
        margin-top: 40px;

        * {
            margin-top: 15px;
        }
        
        &__image {
            align-content: center;
        }

        &__lang {
            color: $secondary-color;
            font-size: 15px;
            text-transform: uppercase;
        }

        &__heading {
            font-size: 38px;
            font-family: $primary-font;
            color: $primary-color;
            font-weight: bold;
            margin-top: 0px;
        }

        &__buttons {
            display: flex;
            
            justify-content: flex-start;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 30px;

            &__button{
                margin-right: 15px;
                margin-top: 15px;
                display:flex;
                justify-content: center;
                align-items: flex-end;
                i {
                    margin-bottom: 3px;
                }

                &:hover {
                    opacity: 50%;
                }
            }
        }
    }
}


@media only screen and (max-width: 767px) {
    /*phone*/
    .project-container {
        
        width: $phone-width;

        &__project {

            &__image {
                width: $phone-width;
            }
    
            &__description {
                width: $phone-width;
            }
        }
    }


}
@media only screen and (min-width:768px) and (max-width:1023px) {
    /*tablet*/
    .project-container {
        display: flex;
        justify-content: space-around;
        width: 95vw;

        &__project {

            &__heading {
                font-size: 33px;
            }

            &__image {
                width: $tablet-width * 0.28;
            }
    
            &__description {
                width: $tablet-width * 0.28;
            }
        }
    }
}

@media only screen and (min-width:1024px) {
    .project-container {
        display: flex;
        justify-content: space-around;
        width: 95vw;

        &__project {

            &__heading {
                font-size: 33px;
            }

            &__image {
                width: $desktop-width * 0.28;
            }
    
            &__description {
                width: $desktop-width * 0.28;
            }
        }
    }
}
