@use "./variables" as *;
@use "./mixin" as *;

.skills-grid {
    display: grid;
    margin-top: 50px;

    &__intro{
        margin-top: 30px;
        text-align: center;
    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;


        &__image {
            color: $secondary-color;

            width: 60px;
            height: 60px;
            font-size: 60px;

            &__path {
                fill: $secondary-color;
            }
        }

        &__language {
            font-family: $secondary-font;
            color: $primary-color;
            font-size: 15px;
        }
    }
}

@media only screen and (max-width: 767px) {
    /*phone*/
    .skills-grid{
        grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
        width: $phone-width;
        height: $phone-width;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /*tablet*/
    .skills-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        width: $tablet-width;

        &__box__image {
            width: 40px;
            height: 40px;      
            font-size: 40px;
        }

        &__intro {
            width: $tablet-width * 0.5;
        }
        

    }
}

@media only screen and (min-width: 1024px) {
    /*desktop*/
    .skills-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        width: $desktop-width;

        &__intro {
            width: $desktop-width* 0.5;
        }

    }

}


