@use "./variables" as *;
@use "./mixin" as *;

.skills-grid {
    display: grid;
    margin-top: 50px;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        align-items: center;


        &__image {
            color: $secondary-color;

            width: 60px;
            height: 60px;
            
            font-size: 60px;

            &__path{
                fill: $secondary-color;
            }
        }

        &__language {
            font-family: $secondary-font;
            color: $primary-color;
        }
    }
}

@media only screen and (max-width: 768px) {
    /*phone*/
    .skills-grid{
        grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
        width: $phone-width;
        height: $phone-width;
    }
}

@media only screen and (min-width: 768px) {
    /*tablet*/
    .skills-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        width: $tablet-width;

    }

}


