@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Teko:wght@600&display=swap');

$primary-color: rgb(2, 95, 80);
$secondary-color: rgb(161, 222, 226);
$white: #EEE;
$black: #111;

$primary-font: "Lora";
$secondary-font: Helvetica, sans-serif;
$phone-width: 400px;


