@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter&family=Lora:ital@1&display=swap');

$primary-color: #170F49;
$secondary-color: #BAE8E8;
$white: #FFF;
$black: #000;

$primary-font: "Inter";
$secondary-font: "DM Sans";
$tertiary-font: "Lora";

$phone-width: 300px;
$tablet-width: 740px;







