@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Teko:wght@600&display=swap');

$primary-color: #170F49;
$secondary-color: #BAE8E8;
$white: #FFF;
$black: #000;

$primary-font: "Lora";
$secondary-font: Helvetica, sans-serif;
$phone-width: 300px;


