@use "./variables" as *;
@use "./mixin" as *;

.work-button {
    height: 50px;
    width: $phone-width*0.95;
    background-color: $secondary-color;
    color: $black;
    border: 1px solid $black;
    border-radius: 5px;
    box-shadow: 3px 1px black;
    font-family: $secondary-font;
    font-size: 30px;
    @include flexCenter();
    text-decoration: none;
    color: $white;
    font-weight: bold;
    font-size: 22px;


    i {
        background-color: $secondary-color;
    }
}