@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter&family=Lora:ital@1&display=swap");
.header {
  display: grid;
  height: 50px;
  background-color: #FFF;
  color: #170F49;
  margin: 0px;
  padding: 0px;
  font-family: "DM Sans";
}
.header * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__name {
  font-weight: bold;
  font-family: "DM Sans";
  font-size: 25px;
}
.header__logo {
  font-size: 30px;
}
.header__logo p {
  border-bottom: 17px solid #BAE8E8;
  display: inline-block;
  line-height: 0.2;
  font-family: "DM Sans";
  font-weight: bolder;
}
.header__menu {
  font-size: 25px;
}
.header__get-in-touch a {
  font-size: 15px;
  height: 30px;
  width: 80%;
}
.header__home:hover, .header__about:hover, .header__projects:hover {
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  /*phone*/
  .header {
    grid-template-columns: 50px 200px 1fr 50px;
    grid-template-areas: "logo name gap menu";
  }
  .header__projects, .header__get-in-touch, .header__about, .header__home {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  /*tablet and desktop*/
  .header {
    grid-template-columns: 50px 200px 1fr 110px 110px 110px 125px;
    grid-template-areas: "logo name gap home about projects get-in-touch";
  }
  .header__menu {
    display: none;
  }
}
.header__logo {
  grid-area: logo;
}
.header__name {
  grid-area: name;
}
.header__menu {
  grid-area: menu;
}
.header__home {
  grid-area: home;
}
.header__about {
  grid-area: about;
}
.header__get-in-touch {
  grid-area: get-in-touch;
}
.header__gap {
  grid-area: gap;
}
.header__project {
  grid-area: project;
}

main {
  /*margin: 20px;*/
  font-family: "DM Sans";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-container__project {
  margin-top: 40px;
}
.project-container__project * {
  margin-top: 15px;
}
.project-container__project__image {
  align-content: center;
}
.project-container__project__lang {
  color: #BAE8E8;
  font-size: 15px;
  text-transform: uppercase;
}
.project-container__project__heading {
  font-size: 38px;
  font-family: "Inter";
  color: #170F49;
  font-weight: bold;
  margin-top: 0px;
}
.project-container__project__buttons {
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 30px;
}
.project-container__project__buttons__button {
  margin-right: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.project-container__project__buttons__button i {
  margin-bottom: 3px;
}
.project-container__project__buttons__button:hover {
  opacity: 50%;
}

@media only screen and (max-width: 767px) {
  /*phone*/
  .project-container {
    width: 300px;
  }
  .project-container__project__image {
    width: 300px;
  }
  .project-container__project__description {
    width: 300px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /*tablet*/
  .project-container {
    display: flex;
    justify-content: space-around;
    width: 95vw;
  }
  .project-container__project__heading {
    font-size: 33px;
  }
  .project-container__project__image {
    width: 207.2px;
  }
  .project-container__project__description {
    width: 207.2px;
  }
}
@media only screen and (min-width: 1024px) {
  .project-container {
    display: flex;
    justify-content: space-around;
    width: 95vw;
  }
  .project-container__project__heading {
    font-size: 33px;
  }
  .project-container__project__image {
    width: 280px;
  }
  .project-container__project__description {
    width: 280px;
  }
}
* {
  margin: 0px;
  padding: 0px;
  background-color: #FFF;
}

@media only screen and (max-width: 767px) {
  .hide-on-phone {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none !important;
  }
}
@media only screen and (min-width: 1024px) {
  .hide-on-desktop {
    display: none !important;
  }
}
.intro {
  margin: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Inter";
  background-color: #F7FAFA;
}
.intro * {
  background-color: #F7FAFA;
}
.intro__hi {
  font-size: 20px;
  opacity: 60%;
  color: #170F49;
}
.intro__desc {
  color: #170F49;
}
.intro__button {
  align-self: center;
}

@media only screen and (max-width: 767px) {
  /*phone*/
  .intro {
    width: 300px;
    margin-top: 30px;
  }
  .intro__hi {
    margin-top: 30px;
  }
  .intro__button {
    margin-bottom: 30px;
  }
  .intro__desc {
    font-size: 60px;
    margin-bottom: 30px;
    width: 300px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /*tablet*/
  .intro {
    width: 740px;
    margin-top: 20px;
    padding-top: 90px;
  }
  .intro__hi {
    align-self: center;
  }
  .intro__desc {
    font-size: 52px;
    margin-bottom: 40px;
    text-align: center;
  }
  .intro__button {
    margin-bottom: 90px;
  }
}
@media only screen and (min-width: 1024px) {
  /*desktop*/
  .intro {
    background-color: transparent;
  }
  .intro * {
    background-color: transparent;
  }
  .intro__desc {
    font-size: 60px;
    width: 550px;
  }
  .intro__img {
    align-self: flex-end;
    margin-top: 30px;
    height: 400px;
    display: inline-block;
  }
  .intro__button {
    align-self: flex-start;
    margin-top: 30px;
    margin-left: 20px;
  }
  .intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
  }
}
.button {
  background-color: #BAE8E8;
  color: #170F49;
  border: 1px solid #170F49;
  border-radius: 5px;
  box-shadow: 1px 1px #170F49;
  font-family: "Inter";
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: light;
  width: 270px;
  height: 50px;
}
.button i {
  background-color: #BAE8E8;
}
.button:hover {
  font-weight: bold;
  color: #170F49;
  border: 1.5px solid #170F49;
}

.skills-grid {
  display: grid;
  margin-top: 50px;
}
.skills-grid__intro {
  margin-top: 30px;
  text-align: center;
}
.skills-grid__box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.skills-grid__box__image {
  color: #BAE8E8;
  width: 60px;
  height: 60px;
  font-size: 60px;
}
.skills-grid__box__image__path {
  fill: #BAE8E8;
}
.skills-grid__box__language {
  font-family: "DM Sans";
  color: #170F49;
  font-size: 15px;
}

@media only screen and (max-width: 767px) {
  /*phone*/
  .skills-grid {
    grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
    width: 300px;
    height: 300px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /*tablet*/
  .skills-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 740px;
  }
  .skills-grid__box__image {
    width: 40px;
    height: 40px;
    font-size: 40px;
  }
  .skills-grid__intro {
    width: 370px;
  }
}
@media only screen and (min-width: 1024px) {
  /*desktop*/
  .skills-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 1000px;
  }
  .skills-grid__intro {
    width: 500px;
  }
}
.footer {
  background-color: #170F49;
  display: flex;
  color: #BAE8E8;
  height: 150px;
}
.footer * {
  background-color: #170F49;
  padding: 5px;
}
.footer__contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: "Inter";
  width: 250px;
}
.footer__contact-info *:hover {
  color: #FFF;
}
.footer__email {
  font-family: "Inter";
  font-size: 16px;
  width: 250px;
}
.footer__email:hover {
  color: #FFF;
}
.footer__rights {
  width: 250px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  /*phone*/
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /*tablet*/
  .footer {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .footer__email {
    margin-left: 20px;
  }
  .footer__contact-info {
    margin-right: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  /*desktop*/
  .footer {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
  }
  .footer__email {
    margin-left: 20px;
    font-size: 15px;
    text-align: center;
  }
  .footer__contact-info {
    margin-right: 20px;
    font-size: 30px;
  }
  .footer__rights {
    font-size: 10px;
    font-family: "Inter";
    opacity: 60%;
  }
}
.headings {
  margin-top: 80px;
  font-family: "Inter";
  font-weight: bold;
  color: #170F49;
  font-size: 30px;
  border-bottom: 11px solid #BAE8E8;
  display: inline-block;
  line-height: 0.4;
}

.underline {
  border-bottom: 27px solid #BAE8E8;
  display: inline-block;
  line-height: 0.4;
}

.about-me {
  width: 300px;
  margin-bottom: 50px;
}
.about-me__img {
  margin-top: 20px;
  border: 1px solid black;
}
.about-me__desc {
  font-family: "DM Sans";
  margin-top: 15px;
}

@media only screen and (max-width: 767px) {
  .about-me__img {
    width: 300px;
    height: 350px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /*tablet*/
  .about-me {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 740px;
  }
  .about-me__desc {
    width: 333px;
  }
  .about-me__img {
    width: 333px;
  }
}
@media only screen and (min-width: 1024px) {
  .about-me {
    /*desktop*/
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
  }
  .about-me__desc {
    width: 450px;
  }
  .about-me__img {
    width: 400px;
    height: 400px;
  }
  .about-me__heading {
    margin: 0;
    margin-bottom: 20px;
  }
  .about-me-container {
    background-color: #F7FAFA;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }
  .about-me-container * {
    background-color: #F7FAFA;
  }
}/*# sourceMappingURL=styles.css.map */